body{
    background-image: url(https://americasaves.org/images/article/Dollar%20Bills.jpg);
    text-align: center;
    font-family: Helvetica;
    text-align: center;
    align-content: center;
}
h1{
    color: #4CAF50;
    background: whitesmoke;
    border: solid #4CAF50;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    
}
#prihodiLista{
    
    font-size: 25px;
    width: 30%;
    min-height: 350px;
    margin: 15% ;
    border-radius: 20px;
    border: solid 10px #4CAF50;
    
    display: flex;
    float: left;
    color: #4CAF50;
}
#rashodiLista{
   
    font-size: 25px;
    width: 30%;
    min-height: 350px;
    margin: 15% ;
    border-radius: 20px;
    border: solid 10px  #4CAF50;
    display: flex;
    color: #4CAF50;
    
}
li{
    background-color: whitesmoke;
    list-style: none;
    display: inline;
}
#opis{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#iznos{
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#select{
    width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid #4CAF50;
  border-radius: 4px;
  cursor: pointer;
}

#dugme{
    width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#saldo{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid #4CAF50;
}

#opis{
    border: solid #4CAF50;
}
#iznos{
    border: solid #4CAF50;
}
